<div>
    <div style="margin-left: 3em; margin-right:1em;">
        <p>
            stuff used:
        </p>
        <ul>
            <li>.net 4.5, ASP.net MVC 5, EF 6, Owin</li>
            <li><a href='https://demo.aspnetawesome.com'>ASP.net MVC Awesome jQuery Ajax Helpers</a> (trial version)</li>
            <li><a href="https://github.com/omuleanu/ValueInjecter">ValueInjecter</a> for mapping</li>
            <li><a href="http://jquery.com">jQuery</a> <a href="http://jqueryUI.com">jQueryUI</a></li>
            <li><a href="https://github.com/omuleanu/imager">Imager</a>, <a href='https://blueimp.github.io/jQuery-File-Upload/'>jQuery File Upload</a> and <a href="http://deepliquid.com/content/Jcrop.html">Jcrop</a> for uploading, cropping and resizing images</li>
            <li><a href="http://encrypto.codeplex.com">Encrypto</a> for hashing and salting passwords</li>
            <li><a href="http://www.castleproject.org/container/">Castle Windsor</a> IoC Container</li>
            <li><a href="http://code.google.com/p/elmah/">ELMAH</a> for logging</li>
            <li><a href="http://nunit.org/">NUnit</a> and <a href="http://code.google.com/p/fakeiteasy/">FakeItEasy</a> for testing</li>
            <li><a href="http://www.tinymce.com">TinyMCE</a> as wysiwyg editor</li>
            <li><a href="http://html-agility-pack.net">Html Agility Pack</a> for sanitizing html</li>
        </ul>
        <br />
        download solution archive: <a href="https://aspnetawesome.com/Download/ProDinner">download prodinner</a>
        <br />
        <br />
        <div style="max-width: 300px; height: 70px;">
            <div class="awe-il">
                <a href="https://twitter.com/share?ref_src=twsrc%5Etfw" class="twitter-share-button" data-text="ProDinner ASP.net MVC Awesome demo application" data-url="http://prodinner.aspnetawesome.com" data-hashtags="aspnetawesome" data-show-count="false">Tweet</a>
                <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
            </div>

            <div class="awe-il">
                <script src="https://apis.google.com/js/platform.js" async defer></script>
                <g:plusone href="https://prodinner.aspnetawesome.com"></g:plusone>
            </div>

            <div class="awe-il" style="margin-bottom: 7px;">
                <div class="fb-share-button" data-href="https://prodinner.aspnetawesome.com/" data-layout="button" data-size="small" data-mobile-iframe="false">
                    <a class="fb-xfbml-parse-ignore" target="_blank" href="https://prodinner.aspnetawesome.com/">Share</a>
                </div>
            </div>

            <div id="fb-root"></div>
            <script>
                (function (d, s, id) {
                    var js, fjs = d.getElementsByTagName(s)[0];
                    if (d.getElementById(id)) return;
                    js = d.createElement(s); js.id = id;
                    js.src = 'https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.11';
                    fjs.parentNode.insertBefore(js, fjs);
                }(document, 'script', 'facebook-jssdk'));</script>
        </div>
    </div>
</div>
